.input {
  width: 100%;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 12px;
}

.button {
  font-size: 24px;
  background: black;
  color: white;
  border: none;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
}
